table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
th {
    
    text-align: center;
    padding: 8px;
  }
  
  
  tr:nth-child(even) {
    background-color:  #d4e9ec;
  }
  .small-image {  max-width: 100%;
    height: 151px;
    position: relative;
  }
  td{
    text-align: center;
    border: 1px solid #dddddd;
  }


  .card-custom {
    width: 100%;
    height: 24rem; /* Adjust the height as needed */
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 100%;
    height: 19rem; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure the image covers the card area without stretching */
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    text-align: center; /* Center the text horizontally */
  }
  .card-title {
    font-size: 1.25rem; /* Increase the font size of the card title */
    margin-top: auto; /* Push the title to the bottom */
  }
  .card-text {
    font-size: 1rem; /* Set a default font size for the section */
  }

  .close-icon {
    position: absolute;
    top: -8px;
    right: 1px;
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    outline: none; 
}

.close-icon:focus {
    outline: none;
}